.banner{
    padding: 3rem 7.5rem 6.25rem;
    background-color: var(--azul-escuro);
    color: var(--branco);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titulo{
    font-family: var(--fonte-secundaria);
    font-size: 4rem;
    margin-top: 4.875rem;
    margin-bottom: 2rem;
}

.paragrafo{
    font-family: var(--fonte-secundaria);
    font-size: 2.2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}
