.rodape{
    background-color: var(--azul-escuro);
    color: rgb(84, 82, 82);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    columns: .5rem;
    font-size: 1.1rem;
    font-family: var(--fonte-secundaria);
}